/* Common Styles Start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --themeYellow: #fbb41f;
    --themeRed: #e93831;
    --themeBlue: #1566b3;
    --gray: #efefef;
}

html {
    scroll-behavior: smooth;
}

button, body {
    font-family: "Poppins", sans-serif;
}

button {
    font-size: 13px;
    background-color: var(--themeRed);
    color: #fff;
    border: 0;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}
.container {
    width: 1140px;
    margin: auto;
}

.fullContainer .container p {
    margin-bottom: 20px;
}

.sectionTitle {
    width: 800px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after {
    display: inline-block;
    content: '';
    height: 15px;
    width: 15px;
    background-color: var(--themeRed);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

.title, .subtitle {
    text-align: center;
    margin-bottom: 1rem;
}

section {
    padding: 100px 0;
    position: relative;
}

.gallery-container-styling {
    padding: 20px 0;
    width: 100%;
}

.section-separator {
    background-color: #e2e2e2;
}
/* Common Styles End */

/* Hone Section Start */
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 15px 0 15px 15px;
    height: 95px;
    flex-shrink: 0;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 90px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: var(--themeBlue);
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themeBlue);
    color: #fff;
    transition: all 0.3s ease;
}

.banner {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(to right, #004aad, #ffb400);
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    margin-top: 200px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 5px #000;
    width: 70%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color:  var(--themeRed);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 10px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
}
/* Home Section End */

/* About Section Start */
#aboutSection .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    background: linear-gradient(to right, #004aad, #ffb400);
}

#aboutSection .card-section .cards{
    height: 100%;
    width: 100%;
    margin: 0 20px;
}

#aboutSection .card-section .cards h3 {
    color: var(--themeRed);
    font-size: 2rem;
}

#aboutSection .card-section .cards p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200
}

.bullet-paragraph {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.bullet {
    line-height: 1.2;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    color: #fff;
}

.label span {
    color: var(--themeRed);
    font-weight: 600;
}
/* About Section End */

/* Programs Section Start */
.programs .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage::after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    transition: 0.4s;
}

.programs .boxContainer .box .programTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0;
}

.programs .boxContainer .box p {
    margin: 20px 10px;
}
/* Programs Section End */

/* Partners and Sponsors Section Start */
.partners-logo {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 auto;
}

.logo-image {
    width: 150px;;
    height: 150px;
    align-items: center;
    align-content: center;;
}

.partners-logo img {
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.partners-logo p {
    font-size: 0.8rem;
    font-weight: 300;
}

.partners-logo span {
    font-size: 0.9rem;
    font-weight: 500;
}

.partners .bullet-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.partners .bullet {
    color: #000;
}
/* Partners and Sponsors Section End */

/* Founders and Directors Section Start */
.venn-container {
    position: relative;
    width: 900px;
    height: 350px;
    margin: 50px auto;
}

.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    mix-blend-mode: multiply;  /* Enables overlapping color blending */
    opacity: 0.7; /* Adjusts transparency */
}

.circle span {
    font-size: 1.5rem;
    font-weight: 600;
}

.circle-a {
    background-color: var(--themeRed); /* Red */
    left: -130px;
    top: 25px;
}

.circle-b {
    background-color: var(--themeYellow); /* Red */
    left: 250px;
    top: 25px;
}

.circle-c {
    background-color: var(--themeBlue); /* Red */
    left: 630px;
    top: 25px;
}

.circle-d {
    background-color: var(--themeBlue); /* Red */
    left: 60px;
    top: -45px;
}

.circle-e {
    background-color: var(--themeRed); /* Red */
    left: 440px;
    top: -45px;
}
/* Founders and Directors Section End */

/* Footer Section Start */
.footer {
    background: linear-gradient(to right, #004aad, #ffb400);
    padding: 2rem 0;
    text-align: center;
}

.footer .container .contact-items {
    margin-bottom: 2rem;
}

.footer .container .contact-items p {
    font-size: 1.2rem;
    font-weight: 300;
}

.footer .container .contact-items p, .footer .container .contact-items h2 {
    color: #fff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto 2.5rem auto;
}

.contact-form input, .contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form button {
    background-color: var(--themeRed);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.footer .container p {
    color: #fff;
    margin-top: 1rem;
}

.copyright {
    color: #000;;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: -40px;
    padding: 1rem 0;
}
/* Footer Section End */

/* Gallery Section Start */
.description {
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}

.carousel {
    padding-bottom: 0;
}

.carousel-images {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.carousel-images img {
    width: 100%;
    height: 270px;
    object-fit: fill;
    border-radius: 5px;
}

.space-after-images {
    margin-bottom: 4rem;
}
/* Gallery Section End */

/* Burger Menu Base Start */
.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
    position: absolute;
    right: 20px;
    top: 25px;
}

.burger span {
    height: 3px;
    width: 25px;
    background: var(--themeBlue);
    margin-bottom: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}
  /* Burger Menu Base End */

/* --- Responsive Enhancements for Mobile & Tablets Start --- */

/* General Mobile Reset & Container Handling */
@media (max-width: 1024px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .sectionTitle {
        width: 100%;
        font-size: 1.5rem;
    }

    .banner {
        width: 100%;
        min-height: 35vh;
    }

    .banner h1 {
        font-size: 2.5rem;
        width: 90%;
        line-height: 3rem;
    }

    .banner p {
        width: 90%;
        font-size: 1rem;
    }

    .venn-container {
        height: 210px;
    }

    .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
        color: black;
        font-weight: 500;
        font-size: 0.5rem;
        mix-blend-mode: multiply;  /* Enables overlapping color blending */
        opacity: 0.7; /* Adjusts transparency */
    }

    .circle span {
        font-size: 0.85rem;
        font-weight: 600;
    }

    .circle p {
        font-size: 0.65rem;
    }

    .circle-a {
        background-color: var(--themeRed); /* Red */
        left: -46px;
        top: 25px;
    }
    
    .circle-b {
        background-color: var(--themeYellow); /* Red */
        left: 220px;
        top: 25px;
    }
    
    .circle-c {
        background-color: var(--themeBlue); /* Red */
        left: 485px;
        top: 25px;
    }
    
    .circle-d {
        background-color: var(--themeBlue); /* Red */
        left: 90px;
        top: 0px;
    }
    
    .circle-e {
        background-color: var(--themeRed); /* Red */
        left: 360px;
        top: 0px;
    }
}

  /* Tablet and Below */
@media (max-width: 768px) {
    .burger {
        display: flex;
    }
    
    nav {
        display: none;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
        padding: 0.8rem 0;
    }
    
    nav ul li {
        display: block;
        padding: 5px 0;
    }
    
    nav.active {
        display: block;
    }
    
    nav ul li a {
        height: auto;
        line-height: normal;
        padding: 8px 10px;
        display: block;
    }
    
    header .container {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        text-align: center;
        padding: 0;
    }

    header nav ul li {
        display: block;
    }

    .banner {
        width: 100%;
        min-height: 50vh;
    }

    .banner h1 {
        font-size: 2rem;
        margin-top: 120px;
        line-height: 2.5rem;
        width: 90%;
    }

    .banner p {
        font-size: 0.9rem;
        width: 90%;
    }

    #aboutSection .card-section {
        flex-direction: column;
        padding: 20px;
    }

    #aboutSection .card-section .cards {
        margin: 20px 0;
        width: 100%;
    }

    #aboutSection .card-section .cards h3 {
        font-size: 1rem;
        text-align: center;
    }

    #aboutSection .card-section .cards p {
        font-size: 0.8rem;
        text-align: center;
    }

    .bullet-paragraph {
        flex-direction: row; /* keep bullet left */
        align-items: flex-start;
    }

    .programs .boxContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .cardImage {
        padding-top: 40px;
    }

    .partners-logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* gap: 30px; */
        margin: 0 auto;
    }

    .partners-logo-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-image {
        align-items: center;
        align-content: center;
        padding: 0 auto;
        margin-right: 100px;
    }

    .venn-container {
        position: relative;
        width: 400px;
        height: 610px;
        margin: 50px auto;
    }
    
    .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
        color: black;
        font-weight: 500;
        font-size: 0.5rem;
        mix-blend-mode: multiply;  /* Enables overlapping color blending */
        opacity: 0.7; /* Adjusts transparency */
    }

    .circle span {
        font-size: 0.85rem;
        font-weight: 600;
    }

    .circle p {
        font-size: 0.65rem;
    }

    .circle-a {
        background-color: var(--themeRed); /* Red */
        left: 0.1rem;
        top: 25px;
    }
    
    .circle-b {
        background-color: var(--themeYellow); /* Red */
        left: 0.4rem;
        top: 550px;
    }
    
    .circle-c {
        background-color: var(--themeBlue); /* Red */
        left: 2.2rem;
        top: 285px;
    }
    
    .circle-d {
        background-color: var(--themeBlue); /* Red */
        left: 0.4rem;
        top: 370px;
    }
    
    .circle-e {
        background-color: var(--themeRed); /* Red */
        left: 2.2rem;
        top: 110px;
    }

    .carousel-images {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

  /* Mobile */
@media (max-width: 480px) {
    .burger {
        display: flex;
    }
    
    nav {
        display: none;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
        padding: 1rem 0;
    }
    
    nav ul li {
        display: block;
        padding: 5px 0;
    }
    
    nav.active {
        display: block;
    }
    
    nav ul li a {
        height: auto;
        line-height: normal;
        padding: 8px 10px;
        display: block;
    }

    .banner {
        width: 100%;
        min-height: 50vh;
    }
    
    .programs .boxContainer {
        grid-template-columns: 1fr;
    }

    .cardImage {
        padding-top: 40px;
    }

    .carousel-images {
        grid-template-columns: 1fr;
    }

    .banner h1 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .sectionTitle {
        font-size: 1.2rem;
    }

    .contact-form {
        width: 90%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem;
    }

    .footer .container .contact-items,
    .footer .container p {
        padding: 0 1rem;
    }
}
/* --- Responsive Enhancements for Mobile & Tablets End --- */